// btn  icon title form 之类的

@use '../foundation/var-mixin'as *;

button {
    height: 2rem;
}

.o-c-dialog {
    background-color: white;
    width: 60%;
    padding: 8px;
    border-radius: 1rem;
    font-size: $p-font-size;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    z-index: 3;
}



.o-c-nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 1.5rem;

    border-bottom: 1px solid lightgrey;

    &__item {


        --nav-main-color: #2C8CB9;

        width: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        font-weight: 800;

        &--num {
            background-color: lightgray;
            color: white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        &--text {
            width: 100%;
            color: var(--nav-main-color);

            font-size: .9rem;
            line-height: 1rem;
            // background-color: burlywood;
        }


    }

    $item: o-c-nav__item;

    .state-pass {
        .#{$item}--num {
            background-color: white;
            border: 2px solid var(--nav-main-color);
            color: var(--nav-main-color);
        }
    }

    .state-active {
        .#{$item}--num {
            background-color: var(--nav-main-color);
            border: 2px solid var(--nav-main-color);
            color: white;
        }
    }

    .state-wait {
        .#{$item}--num {
            background-color: #D3D3D4;
            border: none;
            color: black;
        }
    }

}

.o-c-input-section {

    // margin-bottom: 1rem;
    // background-color: #3484A4;
    &__title {
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        
        &::before {
            content: "-";
            display: inline-block;
           width: 10px;
           height: 10px;
           margin-right: 8px;
           overflow: hidden;
           background-color: #000;
            font-size: 1em;
       
        }
    }

    &__infotext {
        font-size: .9rem;
        margin-bottom: 1rem;
    }

    &--sub {
        margin-bottom: 1.5rem;
        // border: 1px red solid;

        &__title {
            font-weight: 800;
            margin-bottom: .5rem;
        }
    }


}


.o-c-page-btn {
 
    width:80%;
    max-width: 592px;


    margin: 0 auto;
    margin-bottom: 2rem;
    // background-color: black;
    display: flex;
    justify-content: space-between;
    // padding: 0 2rem;
    font-size: $btn-font-size;

@media (max-width:$breakpoints) {
    //Mobile Main img

       width: calc(100vw - 36px);
}




    button {
        padding: 4px 16px;
        background-color: white;
        color: #000;

        border: none;
        border-radius: 1.5rem;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
        height: 3rem;
        // width: 5rem;
    }

}


.o-c-input-sel {
    box-sizing: border-box;
    padding: 4px;
    border-radius: 8px;
    height: 2.4rem;
    border: 1px solid lightgrey;

}

.o-c-input-text {
    box-sizing: border-box;
    padding: 4px;
    border-radius: 8px;
    height: 40px;
    border: 1px solid lightgrey;
}


.o-c-input-btn {
    box-sizing: border-box;
    padding: 8px;
    border-radius: 8px;
    height: 40px;
    border: 1px solid lightgrey;
    background-color: white;

}


.o-c-sub-info {

    font-size: .5rem;
    color: rgb(255, 106, 0);
    margin-top: .5rem;
}