// 类似于 一个卡片里，有好几个按钮、段落之类的，它们怎么组织，在这里定义。

@use '../foundation/var-mixin'as *;

#o-p-background {
    // position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    overflow: hidden;

    img {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(2px);
        object-fit: cover;
    }
}




.o-p-pre-img {
    width: 100%;
    // height: 60vh;
    min-height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}




#o-p-pre-img--mb {
    //pc mode
    display: none;
}

#o-p-pre-img--pc {
    //pc mode
    display: block;
    width: 100%;
    // box-sizing: border-box;
    padding: 36px;
    max-width: 1200px;
    height: 80%; // parent-div is flex-grow:1

    position: relative;
    top: -3%;

    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    animation: pc-fader 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;

}



@media (max-width:$breakpoints) {
    //Mobile Main img

    //在最大宽度是450px的情况下（浏览器宽度 <= 450px）
    #o-p-pre-img--mb {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #eb4c0d;


        animation: mb-fader 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;

    }

    #o-p-pre-img--pc {
        display: none;
    }

}

// $rootPath:'../../../..';
$rootPath:'.';

@keyframes mb-fader {

    0% {
        background: url($rootPath+'/asset/img/main_img/sp1.png');
        background-size: cover;
    }


    20% {
        background: url($rootPath+'/asset/img/main_img/sp2.png');
        background-size: cover;
    }

    40% {
        background: url($rootPath+'/asset/img/main_img/sp3.png');
        background-size: cover;
    }

    60% {
        background: url($rootPath+'/asset/img/main_img/sp4.png');
        background-size: cover;
    }

    80% {
        background: url($rootPath+'/asset/img/main_img/sp5.png');
        background-size: cover;
    }

    100% {
        background: url($rootPath+'/asset/img/main_img/sp1.png');
        background-size: cover;
    }



}


@keyframes pc-fader {

    0% {
        background: url($rootPath+'/asset/img/main_img/pc1.png');
        background-size: cover;
    }

    20% {
        background: url($rootPath+'/asset/img/main_img/pc2.png');
        background-size: cover;
    }

    40% {
        background: url($rootPath+'/asset/img/main_img/pc3.png');
        background-size: cover;
    }

    60% {
        background: url($rootPath+'/asset/img/main_img/pc4.png');
        background-size: cover;
    }

    80% {
        background: url($rootPath+'/asset/img/main_img/pc5.png');
        background-size: cover;
    }

    100% {
        background: url($rootPath+'/asset/img/main_img/pc1.png');
        background-size: cover;
    }
}




#o-p-intro {

    z-index: 2;
    //Defualt is for mobile

    background-color: #FFFF87;


    height: fit-content;
    flex-grow: 1;
    // max-height: 60vh;
    width: 100%;

    text-align: center;
    display: flex;  
  
    &__container{
        width: 100vw;
        box-sizing: border-box;
        padding: 0 36px;

        // outline: 1px green solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }


    @media (min-width:$breakpoints) {
        //PC intro
        // min-height: 35vh;
        
        height: fit-content;

        justify-content: center;

        &__container{
            max-width: 1200px;
            width: 80%;
            box-sizing: border-box;
            padding: 0 36px;
            padding-bottom: 36px;
    
            // outline: 1px green solid;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

        }

        &__text {
            flex: 2;
            padding-top: 50px;
            justify-content: center;
            align-items: center;
            font-size: $p-font-size;

            
        }

        &__kikaku {
            @include flex-center;
            padding: 0;
            font-size: $footer-font-size;


        }

        &__copyright {
            @include flex-center;
            p{
                font-size: $footer-font-size-sm  !important;
            }

        }

    }


    #o-p-site-title{
        //Mobile    
        z-index: 2;
        flex-grow: 0;
        box-sizing: border-box;
        width: 100%;

        position: absolute;
        transform: translateY(-50%);
        // background-color: #0C7038;

        img{
            width: 100%;
            max-width: 350px;
        }

        @media (min-width:$breakpoints) {
            //PC                 
            position: absolute;
            img {
                width: 65vw;  
                max-width: 600px;
                min-width: 300px;                 
            }
        }

    }

    &__text {     
        
        margin-top: 4rem;
        font-size: $p-font-size;
        line-height: 24px;
        // background-color: #0C7038;

        &--fake {
            color: $blue;
            text-decoration: underline;
            
        }

        &--true {
            cursor: pointer;
        }
    }

    &__btn-container{

        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;  

    }

    &__btn {

        // position: absolute;
        // bottom: 1rem;
        // left: 50%;
        // transform: translateX(-50%);
        
        background-color: orange;
        color: white;
        font-size: $btn-font-size;
        width: 70px;
        padding: 1rem;
        border-radius: 2rem;
        cursor: pointer;
    }


    $textColor_sub:#666666;

    &__kikaku {
        flex-grow: 1;
        font-size: $footer-font-size;
       
        color: $textColor_sub;
       
        // background-color: #eb4c0d;

    }

    &__copyright {
                flex-grow: 2;
                color: $textColor_sub;
                p{
                    font-size: $footer-font-size-sm  !important;
                }

        // background-color: blue;

    }





}







#o-p-toppage-dialog {
    // padding: 0;
    top: 30%;
    margin-bottom: 0 !important;
    width: 320px;
    margin: 0;
    transition: .6s ease-in-out;

    p {
        margin-top: 2em;

    }

    &__close {
        color: rgb(227, 227, 227);
        // background-color: #FFFF87;
        text-align: left;
        margin-left: .5rem;
        margin-bottom: .3rem;
        margin-top: .2rem;
        font-size: .5rem;
        cursor: pointer;
    }

    &__rotate {
        position: absolute;
        top: .7rem;
        right: 1rem;
        cursor: pointer;
    }

    &__ok {
        margin-top: 1.5rem;
        width: 100px;
        cursor: pointer;
    }

}


.o-p-date-sel {
    display: flex;
    // background-color: #FFFF87;
    gap: 1rem;

    // justify-content: center;
    &__item {

        display: flex;
        flex-wrap: nowrap;
        gap: 4px;
        align-items: center;

    }
}


#o-p-checkout {
    &__slider {
        min-width: 200px;
        width: 60%;
        max-width: 300px;
    }
}




#o-p-goto {

    $space: 8px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;

    div {

        box-sizing: border-box;
        background-color: white;
        flex: 0 0 50%;
        // height: 2rem;
        // border: 1px solid red;
        //    background-color: #eb4c0d;

        display: flex;
        align-items: start;
        padding-right: $space;

        label {
            display: block;
            white-space: wrap;
            // background-color: #FFFF87;
            width: 100%;
            text-align: right;
            padding-left: $space;

        }

        input {
            background-color: blue;
        }

    }

}

#o-p-name {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: fit-content;

    div {
        width: 60%;
        display: flex;
        align-items: center;

        input {
            width: 60%;
        }
    }
}

#o-p-phone-num {
    &__cell {
        width: 24px;
        text-align: center;
    }
}

#o-p-mail {

    display: flex;
    align-items: center;
    gap: .5rem;

    &__btn1 {
        min-width: 4rem;
        width: fit-content;
        padding: 4px;
    }

    &__btn2 {
        width: 4rem;
    }

}

#o-p-confirm-test-ul {
    display: flex;
    gap: 1rem;
    // background-color: #FFFF87;
    width: 100%;
    flex-wrap: wrap;

    li {
        overflow: hidden;
        width: 100px;
        height: 100px;
        background-color: #FFFF87;
        border-radius: $obj-border-r;
        box-sizing: border-box;

        img {

            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.selected {
            outline: $blue 3px solid;
        }
    }

}


#o-p-page3-btn {

    &__arrow {

        transition: 1s ease-in-out;
        transform: translate(0%);

        &.move-to-right {
            transform: translate(200%);
        }
    }

    &__confirm {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(102, 102, 102, 1) 77%, rgba(102, 102, 102, 1) 100%);
        color: white;
        border-radius: 2px;
        box-shadow: none;
    }



}



.o-p-page3-confirm-dialog {
    position: fixed;
    // background: yellow;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate(0, 0);


    &__content {
        background-color: #fefefe;
        padding: 20px;
        border-radius: $obj-border-r;
        width: 50%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        text-align: center;

        p {
            margin-top: 1rem;
            color: #eb4c0d;
            width: 100%;
            font-size: .9rem;
            // padding: 20px;
            // background-color: #00AFE4;

        }

        ul {
            padding: 0;
            text-align: center;
            margin-bottom: 0;
        }
        &__btn {

            border-radius: 2px;
            height: fit-content;
            padding: 8px;
            margin: 4px;

            box-shadow: none;
            border: lightgray 1px solid;
            border-radius: 4px;
        }

        #attention-img {
            position: absolute;
            top: -40px;
            left: 50%;
            width: 60px;
            // background-color: #000;
            transform: translate(-50%);
        }

    }





}


#o-p-over-main {
    min-height: 80vh;
}


#o-p-over-success {

    margin: 0 auto;

    div {
        display: flex;
        align-items: center;

        margin-top: 1rem;
        // gap: 1rem;

        img {
            width: 50px;
            margin: 1rem;
        }

        p {
            font-size: 1.2rem;
            font-weight: 500;
            color: #0C7038;
        }
    }
}

.o-c-endpage-trouble{
    // background-color: #FFFF87;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    &--title{
        font-weight: 700;
        font-size: 1rem;
    }

    &--img{
        width: 100%;
        max-width: 500px;
        img{
            width: 100%;
        }
    }
    &--contents{
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

}


#o-p-countdown-dailog {
    z-index: 4;
    position: fixed;
    background-color: $bg-yellow;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    transition: 1s ease-in-out;

    &__text {
        margin-top: 1rem;
        // background-color: #eb4c0d;
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    &__time {
        font-size: 3rem;
        margin: 1.5rem;
        font-family: 'Helvetica Neue';

    }

    &__reset {
        width: 8rem;
        height: 3rem;
        border-radius: $obj-border-r;
        border: lightgrey 1px solid;
        background-color: $blue;
        color: white;
    }


    &.full-screen {

        height: 100vh;


    }

}