@use "../foundation/var-mixin"as *;

.l-header{
// width: 100%;

position:absolute;

// background-color: antiquewhite;
// transform: translate(-50%,-90%);
// left: 50%;
top: 40px;
left: 50%;
transform: translateX(-50%);
// top: 7rem;
text-align: center;
img{
    width: 80%;
    max-width: 450px;
    
}



@media (max-width:$breakpoints) {  
//mobile
        // background-color: antiquewhite;
        left: 50%;
        top: 10px;
        position:absolute;

transform: translateX(-50%);

img{
    width: 100%;
    min-width: 250px;
    
}
}



}

