@use "../foundation/var-mixin"as *;

.l-m-page-body {
    background-color: $bg-color;

    // background: url('/asset/img/map.png');
    // background-size: 95%;
//    max-width: 1300px;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


//main 是input页的白色部分。
.l-main {

    // overflow: hidden;

    
    // box-sizing: border-box;
    // width: 80%;
    @include main-width;
    
    
    border-radius: $main-border-r;




    margin: 6.5rem auto;

    margin-bottom: 2rem;
    background-color: white;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.l-m-background-map {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%);
    max-width: 1400px;
    width: 100%;
    height: 700px;
    z-index: -2;
    // overflow: hidden;
    img {

        opacity: .9;

        z-index: -2;
     
        // transform: translate(-50%, -50%);

        height: 1000px;
        width: 100%;
        filter: blur(2px);
      
        object-fit: cover;
    }
}